.search {
  display: flex;
  justify-content: center;
  height: 80px;
  font-size: 28px;
}

.search__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search__form input {
  width: 250px;
  height: 30px;
  padding: 10px;
  font-size: large;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.search__form input:focus {
  width: 20vw;
}

.search__form button {
  width: 50px;
  height: 50px;
  padding: 10px;
  font-size: 15px;
  background-color: var(--yellow);
  border-radius: 20px;
  border: none;
}
