@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200&display=swap");
@import "reset.css";
@import "variables.css";
@import "movie-card.css";
@import "search.css";

body {
  font-family: "Noto Sans KR", sans-serif;
  height: 100vh;
  background-color: var(--blue);
}

footer {
  display: flex;
  justify-content: center;
  padding: 50px;
}

img {
  width: 260px;
  height: 390px;
  border-radius: 10px;
}

.title {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.title__text {
  font-size: 32px;
  font-weight: 1000;
}
